@import "./pf4-imports";
@import "./Spacer";

#root {
  height: 100vh;
}

.pf-u-h-100 {
  height: 100% !important;
}
.pf-u-min-h-100 {
  min-height: 100%;
}
.pf-m-width-100 {
  width: 100%;
}
.pf-m-width-50 {
  width: 50%;
}
.pf-m-width-66 {
  width: 66%;
}
